.Util_hide
{
	display: none !important;
	visibility: hidden !important;
}

.Util_card {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.Util_disable
{
  pointer-events: none !important;
  /*background-color: #E9F1DA;
   cursor: not-allowed !important;*/
  opacity: 0.5 !important;
  filter: alpha(opacity=40); /* msie */
}

#open-modal, #topnav {
	display: none !important;
	visibility: hidden !important;
}